<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rino_Hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,34},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,68},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,102},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,136},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hit.png</string>
            <key>size</key>
            <string>{52,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f68829ba93ea28a6bbcc8c9167fc7e9:afb12051e918b1e0fb10f052fd395fcc:550ee518e62bb572906b8453061c52b8$</string>
            <key>textureFileName</key>
            <string>Hit.png</string>
        </dict>
    </dict>
</plist>
