<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bat_Hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{44,0},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{88,0},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{132,0},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{44,30}</string>
                <key>textureRect</key>
                <string>{{176,0},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hit.png</string>
            <key>size</key>
            <string>{220,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ebdb7be942281dfd47e5679f3f0936:19686289727d608997dedf15669fc3b9:550ee518e62bb572906b8453061c52b8$</string>
            <key>textureFileName</key>
            <string>Hit.png</string>
        </dict>
    </dict>
</plist>
