<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Plant_Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{405,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{450,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{90,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{135,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{180,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{225,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{270,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{315,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plant_Idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{360,0},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{495,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a5b647a33946cdd1a9f874e7a5f01f4:3320b11d2038f4ef20c702cb484f7bcc:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
