<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rino_Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,306},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,340},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,34},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,68},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,102},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,136},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,170},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,204},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,238},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rino_Idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{0,272},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{52,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc541c1f0fe2570c81cf0bbc0faabcc6:f158ec90a87c2eada85e5f32e3bf09c5:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
