<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bat_Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{46,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{92,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{138,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{184,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{230,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bat_Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,30}</string>
                <key>spriteSourceSize</key>
                <string>{46,30}</string>
                <key>textureRect</key>
                <string>{{276,0},{46,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{322,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5e4fd62643211560a511e5211efde52:689b623b203da01721c787488adede36:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
